@font-face {
    font-family: 'IBMPlexMono';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/IBMPlexMono-Regular.woff2') format('woff2'), url('../assets/fonts/IBMPlexMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'IBMPlexMono';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/IBMPlexMono-Regular.woff2') format('woff2'), url('../assets/fonts/IBMPlexMono-Regular.woff') format('woff');
}