@font-face {
  font-family: "IBMPlexMono";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("../assets/fonts/IBMPlexMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "IBMPlexMono";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("../assets/fonts/IBMPlexMono-Regular.woff") format("woff");
}
